<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">

      {% assign transports = site.html_pages | where: 'dir', '/transports/' %}
      {% assign features = site.html_pages | where: 'dir', '/features/' | sort: "feature_id" %}
      <nav class="main-nav">
        <ul>
          <li><a href="{{ '/' | relative_url }}">Root</a></li>
          <li>Transports
            <ul>
              {% for transport in transports %}
                <li>
                  <a href="{{ transport.url | relative_url }}" {% if transport.url == page.url %}class="active"{% endif %}>
                    {{ transport.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>Features
            <ul>
              {% for feature in features %}
                <li>
                  <a href="{{ feature.url | relative_url }}" {% if feature.url == page.url %}class="active"{% endif %}>
                    [{{feature.feature_id}}] {{ feature.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>

      <section id="main_content" class="inner">
        {{ content }}
      </section>
      
    </div>

  </body>
</html>
