<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">

      <nav class="main-nav">
        <ul>
          {% for p in site.html_pages %}
            <li>
              <a href="{{ p.url | relative_url }}" {% if p.url == page.url %}class="active"{% endif %}>
                collection={{ p.collection }} categories={{ p.categories }} path={{ p.path}} dir={{ p.dir }} {{ p.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <section id="main_content" class="inner">
        {{ content }}
      </section>
      
    </div>

  </body>
</html>
